:root {
  --darkgrey: #3f3f3f;
  --lightgrey: #f2f2f2;
  --teal: #0387a8;
}

body {
  font-family: 'Hind Madurai', sans-serif;
  background: var(--teal);
  color: var(--darkgrey);
  margin: 0;
}

header {
  margin: 0;
  height: 100px;
  background: var(--lightgrey);
  padding: 20px 30px;
}

.title {
  display: inline-block;
  margin-left: 20px;
  top: 34px;
  position: absolute;
  width: 70vw;
}

h1 {
  font-weight: 600;
  font-size: 2em;
  margin: 0;
}

h1 a {
  color: var(--darkgrey);
  text-decoration: none;
}

a:hover {
  color: var(--teal);
}

.subtitle {
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
}

.github-logo {
  fill: var(--darkgrey);
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  body {
    background: orange;
  }
  header {
    height: 130px;
  }
  .title {
    top: 51px;
    width: 65vw;
  }
  .github-logo {
    top: 18px;
    position: relative;
  }
}

@media only screen and (max-width: 650px) {
  body {
    background: darkorange;
  }
  .title {
    top: 38px;
  }
}

@media only screen and (max-width: 568px) {
  body {
    background: gold;
  }
  header {
    height: 115px;
  }
  .title {
    top: -1px;
    position: relative;
    margin: 0;
    width: 86vw;
  }
  h1 {
    font-size: 1.5em;
  }
  .subtitle {
    font-size: 1.1em;
  }
  .github-logo {
    display: block;
    top: -5px;
    width: 60px;
    height: 60px;
    position: relative;
  }
}

@media only screen and (max-width: 455px) {
  body {
    background: seagreen;
  }
  header {
    height: 125px;
  }
  .github-logo {
    width: 48px;
    height: 48px;
  }
}
