:root {
  --darkgrey: #3f3f3f;
  --lightgrey: #f2f2f2;
  --teal: #0387a8;
  --green: #52af58;
  --gold: #efca34;
  --orange: #ff873d;
  --pink: #ef587e;
}

body {
  font-family: 'Hind Madurai', sans-serif;
  background: var(--teal);
  color: var(--darkgrey);
  margin: 0;
}

header {
  margin: 0;
  height: 100px;
  background: var(--lightgrey);
  padding: 20px 30px;
}

.title {
  display: inline-block;
  margin-left: 20px;
  top: 34px;
  position: absolute;
  width: 70vw;
}

h1 {
  font-weight: 600;
  font-size: 2em;
  margin: 0;
}

h1 a {
  color: var(--darkgrey);
  text-decoration: none;
}

h1 a:hover {
  color: var(--teal);
}

.subtitle {
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
}

.github-logo {
  fill: var(--teal);
  display: inline-block;
}

.projects {
  /* background: var(--lightgrey); */
  width: 80vw;
  max-width: 700px;
  /* height: 200px; */
  margin: 40px auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: var(--lightgrey);
  padding: 7px 12px;
  margin-bottom: 10px;
  font-size: 1.1em;
  border-left: 8px solid var(--darkgrey);
  transition: transform 0.3s;
}

li a {
  color: var(--darkgrey);
  font-weight: 400;
}

li:hover {
  border-left: 8px solid var(--pink);
  transform: translateX(-20px);
}

li:hover a {
  color: var(--teal);
}


/* ///////   MEDIA QUERIES //////// */

/* MIN WIDTH */

@media only screen and (min-width: 960px) {
  .projects {
    margin: 40px auto 40px 150px;
  }
}

/* MAX WIDTH */

@media only screen and (max-width: 768px) {
  body {
    background: var(--green);
  }
  header {
    height: 130px;
  }
  .title {
    top: 51px;
    width: 65vw;
  }
  .github-logo {
    top: 18px;
    position: relative;
    fill: var(--darkgrey);
  }
}

@media only screen and (max-width: 650px) {
  body {
    background: var(--gold);
  }
  .title {
    top: 38px;
  }
}

@media only screen and (max-width: 568px) {
  body {
    background: var(--orange);
  }
  header {
    height: 115px;
  }
  .title {
    top: -1px;
    position: relative;
    margin: 0;
    width: 86vw;
  }
  h1 {
    font-size: 1.5em;
  }
  .subtitle {
    font-size: 1.1em;
  }
  .github-logo {
    display: block;
    top: -5px;
    width: 60px;
    height: 60px;
    position: relative;
  }
  li:hover {
    border-left: 8px solid var(--teal);
  }
}

@media only screen and (max-width: 455px) {
  body {
    background: var(--pink);
  }
  header {
    height: 125px;
  }
  .github-logo {
    width: 48px;
    height: 48px;
  }
}
